# ============================================================
# DATABASE (Supabase)
# ============================================================

# Connect to Supabase via connection pooling
DATABASE_URL=''

# Direct connection to the database. Used for migrations
DIRECT_URL=''

# ============================================================
# BETTER AUTH
# ============================================================
BETTER_AUTH_SECRET=''
BETTER_AUTH_URL=''

# ============================================================
# GOOGLE OAUTH
# ============================================================
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

# ============================================================
# EMAIL APP
# ============================================================
SMTP_HOST=''
SMTP_PORT=''
SMTP_USER=''
SMTP_PASS=''
EMAIL_FROM=''
